<template>
  <v-app>
    <v-main>
      <div>
        <v-app-bar color="red darken-3" dark clipped-left>
          <v-toolbar-title>TR3 REKLAM</v-toolbar-title>

          <v-spacer></v-spacer>

          <v-btn icon>
            <v-icon>mdi-magnify</v-icon>
          </v-btn>

          <v-btn icon>
            <v-icon>mdi-heart</v-icon>
          </v-btn>

          <v-btn icon>
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </v-app-bar>

        <v-navigation-drawer v-model="drawer" app clipped expand-on-hover>
          <v-list dense>
            <v-list-item v-for="item in items" :key="item.title" router :to="item.linkaddress" link>
              
              <v-list-item-icon>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>{{ item.title }}</v-list-item-title>
              </v-list-item-content>
              
            </v-list-item>
          </v-list>
        </v-navigation-drawer>

        <v-content>
          <v-container>
            <v-row class="mb-4">
              <router-view></router-view>
            </v-row>
            <v-row class="mb-4"> </v-row>
          </v-container>
        </v-content>
      </div>
    </v-main>
  </v-app>
</template>


<style >
.graphic-card {
  width: 48%;
  margin-right: 10px;
}
</style>


<script>
// import ExpectedVisitor from '../components/ExpectedVisitor.vue';
// import WeeklyVisitor from '../components/WeeklyVisitor.vue';
//import Reservations from "./components/Reservations.vue";

export default {
  components: {
    // ExpectedVisitor,
    // WeeklyVisitor,
    //Reservations,
  },
  data: () => ({
    drawer: true,
    menu: false,
    theme: false,
    items: [
      { title: "Anasayfa", icon: "mdi-view-dashboard",linkaddress:"/" },
      { title: "Rezervasyonlar", icon: "mdi-calendar-multiple-check",linkaddress:"Reservations" },
      { title: "Raporlar", icon: "mdi-receipt" },
      { title: "Kişiler", icon: "mdi-account-box",linkaddress:"Persons" },
      { title: "Yönetim", icon: "mdi-account-star" },
      { title: "Çıkış", icon: "mdi-logout" },
    ],
  }),
};
</script>
