<template>
          <v-card class="mt-4 graphic-card mx-auto">
            <v-toolbar color="deep-purple accent-4" dark>

              <v-toolbar-title>Bugün Beklenen Ziyaretçiler</v-toolbar-title>

              <v-spacer></v-spacer>

              <v-btn icon>
                <v-icon>mdi-magnify</v-icon>
              </v-btn>
            </v-toolbar>

            <v-list subheader>
              <v-list-item v-for="chat in recent" :key="chat.title">

                <v-list-item-content>
                  <v-list-item-title class="mt-3" v-text="chat.title"></v-list-item-title>
                  <v-divider />
                </v-list-item-content>

              </v-list-item>
            </v-list>
          </v-card>
</template>


<script>
export default {
  data: () => ({
    recent: [
      {
        title: "Ali Veli",
      },
      {
        title: "Ahmet Mehmet",
      },
      {
        title: "Hasan Hüseyin",
      },
      {
        title: "Ayşe Fatma",
      },
    ],
  }),
};
</script>