<template>
  <v-container>
    <v-row class="mb-4">
      <WeeklyVisitor />
    </v-row>
    <v-row class="mb-4">
      <v-card class="mt-4 graphic-card mx-auto">

        <v-card-title>Rezervasyon Listesi</v-card-title>
        <hr>
        <ReservationsList />

      </v-card>
    </v-row>
  </v-container>
</template>

<style >
.graphic-card {
  width: 48%;
  margin-right: 10px;
}
</style>

<script>
import ReservationsList from "../components/ReservationsList.vue";
import WeeklyVisitor from "../components/WeeklyVisitor.vue";

export default {
  components: {
    ReservationsList,
    WeeklyVisitor,
  },
  data: () => ({
    drawer: true,
    menu: false,
    theme: false,
    items: [
      { title: "Anasayfa", icon: "mdi-view-dashboard" },
      { title: "Rezervasyonlar", icon: "mdi-calendar-multiple-check" },
      { title: "Raporlar", icon: "mdi-receipt" },
      { title: "Kişiler", icon: "mdi-account-box" },
      { title: "Yönetim", icon: "mdi-account-star" },
      { title: "Çıkış", icon: "mdi-logout" },
    ],
  }),
};
</script>