<template>
  <div>
    <v-app-bar color="red darken-3" dark clipped-left>
      <v-toolbar-title>Title</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn icon>
        <v-icon>mdi-magnify</v-icon>
      </v-btn>

      <v-btn icon>
        <v-icon>mdi-heart</v-icon>
      </v-btn>

      <v-btn icon>
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" app clipped expand-on-hover>
      <v-list dense>
        <v-list-item v-for="item in items" :key="item.title" link>
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-content>
      <v-container>
        
        <!-- Tüm içerikler bu alana gelecek -->

      </v-container>
    </v-content>
  </div>
</template>

<style >
.graphic-card {
  width: 48%;
  margin-right: 10px;
}
</style>

<script>

import ExpectedVisitor from '../components/ExpectedVisitor.vue';
import WeeklyVisitor from '../components/WeeklyVisitor.vue';

export default {
  components:{
      ExpectedVisitor,
      WeeklyVisitor
    },
  data: () => ({
    
    drawer: true,
    menu: false,
    theme: false,
    items: [
      { title: "Anasayfa", icon: "mdi-view-dashboard" },
      { title: "Rezervasyonlar", icon: "mdi-calendar-multiple-check" },
      { title: "Raporlar", icon: "mdi-receipt" },
      { title: "Kişiler", icon: "mdi-account-box" },
      { title: "Yönetim", icon: "mdi-account-star" },
      { title: "Çıkış", icon: "mdi-logout" },
    ],
   
  }),
};
</script>