<template>
  <v-card class="mt-4 graphic-card mx-auto">
    <v-card-text class="pt-0">
      <div class="title font-weight-bold mb-2 mt-2">Kişiler</div>
      <v-divider class="my-2"></v-divider>

      <v-select :items="Options" label="Filtrele" solo></v-select>

          <v-simple-table fixed-header height="300px">
            <thead>
              <tr>
                <th class="text-left">İsim</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in persons" :key="item.name">
                <td>{{ item.name }}</td>
              </tr>
            </tbody>
          </v-simple-table>


      <v-btn class="mx-2 btn-pos" fab right dark color="indigo">
        <v-icon dark> mdi-plus </v-icon>
      </v-btn>
      
    </v-card-text>
  </v-card>
</template>

<style>
/* Helper classes */
.btn-pos {
    float: right;
    margin: 10px;
}
</style>

<script>


export default {
  components: {
    
  },
  data() {
    return {
      tab: null,
      Options: ["Foo", "Bar", "Fizz", "Buzz"],
      items: ["LİSTE HALİNDE", "TAKVİM HALİNDE"],
      persons: [
        {
          name: "Ali",
        },
        {
          name: "Veli",
        },
        {
          name: "Ayşe",
        },
        {
          name: "Fatma",
        },
        {
          name: "Ahmet",
        },
        {
          name: "Hüseyin",
        },
        {
          name: "Ertuğrul",
        },
        {
          name: "Zekai",
        },
        {
          name: "Çiçek",
        },
        {
          name: "Burak",
        },
      ],
    };
  },
};
</script>