<template>
  <v-card class="mt-4 graphic-card mx-auto">
    <v-card-text class="pt-0">
      <div class="title font-weight-bold mb-2 mt-2">Rezervasyonlar</div>
      <v-divider class="my-2"></v-divider>

      <v-tabs v-model="tab">
        <v-tab> LİSTE HALİNDE </v-tab>
        <v-tab> TAKVİM HALİNDE </v-tab>
      </v-tabs>
      <br />
      <v-select :items="Options" label="Filtrele" solo></v-select>

      <v-tabs-items v-model="tab">
        <v-tab-item>
          <ReservationsList />
        </v-tab-item>

        <v-tab-item>
          <Calendar />
        </v-tab-item>
      </v-tabs-items>

      <!-- <v-btn class="mx-2 btn-pos" fab right dark color="indigo">
        <v-icon dark> mdi-plus </v-icon>
      </v-btn> -->
      <Popup />
      
    </v-card-text>
  </v-card>
</template>

<style>
/* Helper classes */
.btn-pos {
    float: right;
    margin: 10px;
}
</style>

<script>
import Calendar from "../components/Calendar.vue";
import ReservationsList from "../components/ReservationsList.vue";
import Popup from "../components/Popup.vue";

export default {
  components: {
    Calendar,
    ReservationsList,
    Popup,
  },
  data() {
    return {
      tab: null,
      Options: ["Foo", "Bar", "Fizz", "Buzz"],
      items: ["LİSTE HALİNDE", "TAKVİM HALİNDE"],
      text: Calendar,
      };
  },
};
</script>