<template>
  <v-simple-table fixed-header height="300px">
    <thead>
      <tr>
        <th class="text-left">İsim</th>
        <th class="text-left">Tarih</th>
        <th class="text-left">Saat</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item in reservationList" :key="item.name">
        <td>{{ item.name }}</td>
        <td>{{ item.date }}</td>
        <td>{{ item.hour }}</td>
      </tr>
    </tbody>
  </v-simple-table>

</template>

<style>
/* Helper classes */
.btn-pos {
  float: right;
  margin: 10px;
}
</style>


<script>
export default {
  data() {
    return {
      reservationList: [
        {
          name: "Ali",
          date: "13.10.2020",
          hour: "09.00",
        },
        {
          name: "Veli",
          date: "10.10.2020",
          hour: "17.35 ",
        },
        {
          name: "Ayşe",
          date: "05.09.2020",
          hour: "14.05",
        },
        {
          name: "Fatma",
          date: "15.10.2020",
          hour: "19.03",
        },
        {
          name: "Ahmet",
          date: "17.12.2020",
          hour: "17.33",
        },
        {
          name: "Hüseyin",
          date: "01.02.2021",
          hour: "18.45",
        },
        {
          name: "Ertuğrul",
          date: "13.04.2020",
          hour: "12.37",
        },
        {
          name: "Zekai",
          date: "13.06.2020",
          hour: "13.45",
        },
        {
          name: "Çiçek",
          date: "05.07.2020",
          hour: "21.45",
        },
        {
          name: "Burak",
          date: "08.07.2020",
          hour: "12.00",
        },
      ],
    };
  },
};
</script>